extends layout

block content
  div
    h2= title
    a(href="/collection") To collection
    a(href="/collection/all") To collection all
    a(href="/collection/create_item") To collection create item