extends layout

block content
  div
    h2= title
    a(href="/collection") To collection
    a(href="/collection/all") To collection all
    a(href="/collection/create_item") To collection create item
    h1 Sign Up
    form(action='/sign-up', method='POST')
      label(for="username") Username
      input(name="username", placeholder="username", type="text")
      label(for="password") Password
      input(name="password", type="password")
      button(type="submit") Sign Up